VITE_USE_API=true
VITE_API_BASE_URL=https://ddkho7ox7a.execute-api.ap-south-1.amazonaws.com/Prod
VITE_COURSE_API_BASE_URL=https://ddkho7ox7a.execute-api.ap-south-1.amazonaws.com/Prod
VITE_QUIZ_API_BASE_URL=https://ddkho7ox7a.execute-api.ap-south-1.amazonaws.com/Prod
VITE_COGNITO_USER_POOL_ID=ap-south-1_7z74NltrZ
VITE_COGNITO_APP_CLIENT_ID=4vmc4vrev1hqfb0ddsf85pe3uu